body {
  background-color: hsl(219, 42%, 85%);

  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  border: 1px;
  position: relative;
  overflow: hidden;
  width: 400px;
  padding: 0px;
}

h1,
p {
  text-align: center;

  margin-top: 20px;
}

h1 {
  font-weight: bold;
}

.paragraph p {
  color: hsl(224, 23%, 55%);
  font-size: 15px;
  padding: 20px 20px;
}
.class-plan{
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan {
  text-align: left;
  border-radius: 10px;
  width: 300px;
  line-height: 1px;
  background-color: hsl(227, 85%, 95%);

 
}
strong {
  position: relative;
  top: 5px;
}
.amount {
  position: relative;
  right: 45px;
  bottom: 25px;
}
.first-link {
  position: relative;
  left: 230px;
  bottom: 50px;
  color: purple;
}

.payment {
  border-radius: 20px;
  background-color: blue;
  margin: 25px;
  box-shadow: 2px 3px 3px 3px rgb(177, 177, 177);
  padding: 10px 10px;
}
.payment a {
  color: white;
  text-decoration: none;
}
.payment:hover {
  cursor: pointer;
}

.order {
  margin-bottom: 10px;
}

.order a {
  color: black;
  text-decoration: none;
}
